name: Node.js Package
on:
    push:
        branches: [main]
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            # Setup .npmrc file to publish to npm
            - uses: actions/setup-node@v1
              with:
                  node-version: '10.x'
                  registry-url: 'https://registry.npmjs.org'
            - run: npm install
              env:
                  NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
            - run: npm run lint
              env:
                  NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
            - run: npm run test:coverage
              env:
                  NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
            - run: npm run coverall
              env:
                  NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
                  COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}
            - run: npm run build
              env:
                  NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
            - run: npm publish
              env:
                  NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
